<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mall.mapper.CategoryMapper">
    <resultMap id="CategoryMap" type="com.springboot.mall.domain.Category">
        <id column="id"  property="id" />
        <result column="name"  property="name" />
        <result column="keywords"  property="keywords" />
        <result column="desc"  property="desc" />
        <result column="pid" property="pid" />
        <result column="icon_url"  property="iconUrl" />
        <result column="pic_url"  property="picUrl" />
        <result column="level"  property="level" />
        <result column="sort_order"  property="sortOrder" />
        <result column="add_time"  property="addTime" />
        <result column="update_time"  property="updateTime" />
        <result column="deleted"  property="deleted" />
    </resultMap>

<sql id="CategoryList">
    id, name, keywords, `desc`, pid, icon_url, pic_url, `level`, sort_order, add_time, update_time,
    deleted
</sql>
    <select id="viewAllCategory" resultMap="CategoryMap">
        select <include refid="CategoryList"/> from cskaoyan_mall_category where deleted = 0;
    </select>
</mapper>