<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mall.mapper.OrderMapper">
  <resultMap id="OrderMap" type="com.springboot.mall.domain.Order">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_sn" jdbcType="VARCHAR" property="orderSn" />
    <result column="order_status" jdbcType="SMALLINT" property="orderStatus" />
    <result column="consignee" jdbcType="VARCHAR" property="consignee" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="message" jdbcType="VARCHAR" property="message" />
    <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice" />
    <result column="freight_price" jdbcType="DECIMAL" property="freightPrice" />
    <result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
    <result column="integral_price" jdbcType="DECIMAL" property="integralPrice" />
    <result column="groupon_price" jdbcType="DECIMAL" property="grouponPrice" />
    <result column="order_price" jdbcType="DECIMAL" property="orderPrice" />
    <result column="actual_price" jdbcType="DECIMAL" property="actualPrice" />
    <result column="pay_id" jdbcType="VARCHAR" property="payId" />
    <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
    <result column="ship_sn" jdbcType="VARCHAR" property="shipSn" />
    <result column="ship_channel" jdbcType="VARCHAR" property="shipChannel" />
    <result column="ship_time" jdbcType="TIMESTAMP" property="shipTime" />
    <result column="confirm_time" jdbcType="TIMESTAMP" property="confirmTime" />
    <result column="comments" jdbcType="SMALLINT" property="comments" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>

  <sql id="OrderList">
    id, user_id, order_sn, order_status, consignee, mobile, address, message, goods_price, 
    freight_price, coupon_price, integral_price, groupon_price, order_price, actual_price, 
    pay_id, pay_time, ship_sn, ship_channel, ship_time, confirm_time, comments, end_time, 
    add_time, update_time, deleted
  </sql>

  <select id="viewAllOrder" resultMap="OrderMap">
    select <include refid="OrderList"/> from cskaoyan_mall_order
    <where>
      <if test="orderBean.orderSn != null and orderBean.orderSn.length != 0 ">
        order_sn = #{orderBean.orderSn}
      </if>
      <if test="orderBean.userId != null and orderBean.orderSn.userId != 0  ">
      and user_id = #{orderBean.userId}
      </if>
      <if test="orderStatusArray != null and orderStatusArray.length gt 0  ">
      and order_status in
        <foreach collection="orderStatusArray" item="status" open="(" close=")" separator=",">
          #{status}
        </foreach>
      </if>
    </where>
    order by #{sort} #{order}
  </select>
  <select id="viewOrderById" resultMap="OrderMap">
    select <include refid="OrderList"/> from cskaoyan_mall_order where deleted = 0  and id = ${id}
  </select>


</mapper>