<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.mall.mapper.StorageMapper">
  <resultMap id="StorageMapper" type="com.springboot.mall.domain.Storage">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="key" jdbcType="VARCHAR" property="key" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="size" jdbcType="INTEGER" property="size" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
  </resultMap>
  <sql id="StorageList">
  id, `key`, name, type, size, url, add_time, update_time, deleted
</sql>
  <insert id="insertStorage">
    <!--<selectKey keyProperty="id" order="AFTER" resultType="_int">
      SELECT LAST_INSERT_ID() as id
    </selectKey>-->
    insert into cskaoyan_mall_storage ( <include refid="StorageList"/> ) value
     (null,#{storage.key},#{storage.name},#{storage.type},#{storage.size},#{storage.url},now(),now(),0)
  </insert>

  <select id="selectStorageByUrl" resultMap="StorageMapper">
    select <include refid="StorageList"/> from cskaoyan_mall_storage where url = #{url}
  </select>
</mapper>